.tetris {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    max-width: 450px;
    width: 100%;
    height: 100%;
  }
}
