.stats {
  position: fixed;
  left: 0;
  bottom: 0;

  padding: 20px;

  background-color: rgba(#000000, 0.7);

  &__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__item {
    font-weight: 700;
    color: white
  }
}