.stats {
  position: absolute;
  right: 0;
  top: 0;

  pointer-events: none;
  user-select: none;

  padding: 20px;

  opacity: 0;

  &-enter-active {
    opacity: 1;
    transition: .3s opacity ease-in-out;
  }

  &-enter-done {
    opacity: 1;
  }

  &-exit {
    opacity: 1;
  }

  &-exit-active {
    opacity: 0;
    transition: .3s opacity ease-in-out;
  }

  &__list {
    display: flex;
    gap: 10px;
  }

  &__item {
    font-weight: 700;
    color: white
  }
}
